<p-messages></p-messages>

<div style="padding: 2rem; height: 100rem;" class="card flex justify-content-center">
    <p-card  [style]="{ width: '360px', padding: '2rem', 'background-image': 'repeating-linear-gradient( 124.02deg, #f3bd75, hsl(0, 0%, 39%))' }">
        <ng-template pTemplate="header">
            <h1 style="color: black;">Register</h1>
        </ng-template>
        <div style="display: grid;">
            <label>User Name</label>
            <input (keyup.enter)="Register()"  required type="text" pInputText [(ngModel)]="username" />
        </div>
        <div style="display: grid;">
            <label>Email</label>
            <input (keyup.enter)="Register()"  required type="text" pInputText [(ngModel)]="email" />
        </div>
        <div style="display: grid;">
            <label>Password (8 long, uppercase, lowercase, digit, non-alphanumeric)</label>
            <p-password (keyup.enter)="Register()"  required [(ngModel)]="password" [feedback]="false"></p-password>
        </div>
        <div style="display: grid;">
            <label>Password again</label>
            <p-password (keyup.enter)="Register()"  required [(ngModel)]="password2" [feedback]="false"></p-password>
        </div>

    
        <ng-template pTemplate="footer">
            <p-button label="Register" (onClick)="Register()"></p-button>
            <br>
            <br>
            <label> By clicking "Register", you agree to the GenericDataStore <a href="/termsofuse">Terms of use</a> and <a href="/dataprotection">Privacy Policy</a>.</label>
        </ng-template>
    </p-card>
</div>

