<p-menubar *ngIf="items.length > 2" class="menu" [model]="items">
    <ng-template pTemplate="end">
        <input #search (keyup.enter)="Search($event,search)" style="margin-right: 2rem;" type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
        <p-button *ngIf="loggedIn != true"  class="buttonmargin" label="Login" (onClick)="Login()"></p-button>
        <p-button *ngIf="loggedIn != true"  label="Register" (onClick)="Register()"></p-button>
        <p-button (onClick)="Settings()" *ngIf="loggedIn == true" [label]="username != undefined ? username[0] : ''">
        </p-button> 


    </ng-template></p-menubar>

    <p-sidebar [(visible)]="sidebarVisible" position="right">
        <p-button *ngIf="loggedIn == true"  class="buttonmargin" label="Logout" (onClick)="Logout()"></p-button>
        <p-button *ngIf="loggedIn == true" class="p-button-secondary p-mr-2"  label="Messages" (onClick)="Messages()"></p-button>
        <br><br>
        <div class="card">
            <p-meterGroup [value]="listspace"></p-meterGroup>
            <label>current: {{currentlist}} - max: {{maxlist}}</label>
        </div>
        <br><br>
        <div class="card">
            <p-meterGroup [value]="dataspace"></p-meterGroup>
            <label>current: {{currentpace}} - max: {{maxspace}}</label>
        </div>
        <br><br>
        <div class="card">
            <p-meterGroup [value]="extdataspace"></p-meterGroup>
            <label>current: {{currentexdata}} - max: {{maxexterndata}}</label>
        </div>
        <!-- <br><br><br><br>
        <div class="card">
            <label>Set your limits</label>
            <br><br>
            <label>Internal data space:</label>
            <input [(ngModel)]="intdata"  [pKeyFilter]="'num'"   pInputText />
            <label>External data space:</label>
            <input [(ngModel)]="extdata"  [pKeyFilter]="'num'" pInputText />
            <p-button  class="p-button-secondary p-mr-2"  label="Set limits" (onClick)="SetLimit()"></p-button>
            <label *ngIf="loggedIn != true">Limit saved</label>
        </div>
        <br><br> -->

    </p-sidebar>