/* You can add global styles to this file, and also import other style files */
.p-dropdown{
    width: 20rem;
}
.p-dialog {
    width: 90%;
    height: 90%;
}
.numberinput{
    width: 20rem;
}
.p-submenu-list{
    z-index: 100;
}
.buttonmargin{
    margin: 1rem;
}
.mx-w-70{
    max-width: 70%;
}

.p-tag-success{
    background-color: #A79277;
    margin-bottom: 0.5rem;
}

.bluebutton{
    background-color: #51829B!important;
    color: white;

}
.p-card {
    background-color: white ;
    color:  black;
}
body {
    background-color: #FFF2E1;
    background-repeat: no-repeat;
    background-size: 120rem;
}
.p-menubar{
    background-color: #FFF2E1;
    border-color: black;
    color: white;
}
.p-menuitem-text{
    color: black;
}
.p-menuitem-icon{
    color: black;
}
.p-submenu-icon{
    color: black;
}
.p-menuitem-link{
    background-color: #FFF2E1;
}
.pi-filter-icon{
    color: white;
}
.p-sortable-column-icon{
    color: white;
}
th{
    background-color: #A79277;
    border-color: #A79277;
    color: white;


}
/* .simplerow{
    background-color: #507844;
    border-color: #99a98f;
} */
.editablerow{
    background-color: #039b9b!important;
    color: white;
}
.p-button-success{
    background-color: #86AB89!important;
    color: white!important;
    border: #86AB89!important;
}
.p-button-warning{
    background-color: #8D493A!important;
    color: white!important;
    border: #8D493A!important;
}
.p-button-danger{
    background-color: #C96868!important;
    color: white!important;
    border: #C96868!important;
}
.p-button{
    background-color: #A79277;
    color: white;
    border: #A79277;
}
.p-fileupload{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 2rem;

}
.cardbrown{
    background-color: #A79277;
    color: white;
    border: #A79277;
}
.p-avatar{
    background-color: #196D78;
}
.p-dialog-content{
    background-color: #eeeeee;
    color: black;
}
.p-dialog-header{
    background-color: #eeeeee;
    color: black;
}
.p-tabview-nav{
    background-color: #eeeeee;
    color: black;
    border-color: #A79277;
}
.p-tabview-panel{
    background-color: #eeeeee;
    color: black;
}
.p-tabview-panels{
    background-color: #eeeeee;
    color: black;
}
.promoted{
    background-color: #A79277;
}

.p-datatable-wrapper{
    max-height: 40rem;
}
.p-fieldset{
    margin: 3rem;
}
.p-sidebar-mask{
    z-index: 100 !important;
}
.about{
    background-image: url("/assets/img/logo.png");
    color: black;
}



:host ::ng-deep .p-dropdown { 
    width: 250px; 
} 
  
:host ::ng-deep .p-dropdown-items { 
    border: 5px solid green; 
} 
  
:host ::ng-deep .p-dropdown-clearable { 
    background-color: lightgreen; 
    font-weight: bold; 
}

.p-card .p-card-content {
    padding: 0rem 0;
}

.p-card .p-card-body {
    padding: 0rem;
}

.bluelinear{
    color: white;
    background-color: #2c7ad2;
    background-image:  linear-gradient( 144.02deg, #A79277    4.56%, #FFF2E1 72.98% );
    min-height: 70vh;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    display: flex;
    align-items: center;

}


.logo{
    background-image: url("/assets/img/logo_transparent.png");
}









/* homeanimation */

.line {
    width: 100%;
    max-width: 800px;
    height: 8px;
    margin: 0 0 10px 0;
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255,1);
  }
  
  
  /* Not great browser support :(
  html {
    scroll-behavior: smooth;
  } 
  */
  nav {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #0000007d;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: normal;
  }
  nav a {
    line-height: 1.7;
    text-decoration: none;
    color: var(--color-surface-white);
    opacity: 0.6;
  }
  nav a:hover {
    text-decoration: underline;
  }

  .surface-card{
    background-color: #FFF2E1 !important;
  }
  
  nav a.active {
    opacity: 1
  }
  
  .panel p {
    max-width: 80ch;
    display: block;
  }
  
  .panel {
    flex-direction: column;
    font-size: 1.1em;
  }
  
  .panel h1 {
    font-size: 3.8em;
    color: white;
    font-weight: 300;
    margin: 0 auto;
  }
  .panel.description {
    padding-bottom: 60px;
  }
  .panel p, .panel li {
    color: black;
    font-weight: 400;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0.3em 0 1em 0;
    background-image:  linear-gradient( 144.02deg, #A79277    4.56%, #FFF2E1 72.98% );
  }
  .panel li {
    margin: 0;
  }
  
  h1, h2, p, li {
    max-width: 800px;
  }

