

<p-tabView   *ngIf="!loading">
    <p-tabPanel header="Tables">
        <div>
            <input #search (keyup.enter)="Search($event,search)" style="margin-right: 1rem;" type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
            <p-dataView #dv [value]="types">
                <ng-template pTemplate="list" let-products>
                    <div class="grid grid-nogutter">
                        <div [ngStyle]="GetStyle(item)" class="col-12" *ngFor="let item of products; let first = first" class="col-12">
                            <div (dblclick)="GoToType(item.name,item.objectTypeId)" class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                <div class="md:w-10rem relative">
                                    <p-tag severity="contrast" *ngIf="item.promoted" [style.left.px]="4" [style.top.px]="4" [value]="'promoted'" />
                                    <div class="text-lg font-medium text-900 mt-2">{{ item.name }}</div>
                                    <!-- <img class="block xl:block mx-auto border-round w-full" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.image" [alt]="item.name" /> -->
                                </div>
                                <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                    <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                        <div>
                                            <span class="font-medium text-secondary text-sm">{{ item.description}}</span>
                                        </div>
                                        <div *ngIf="item.category" class="surface-100 p-1" style="border-radius: 30px">
            
                                        </div>
                                    </div>
                                    <div class="flex flex-column md:align-items-end gap-5">
                                        <div class="flex flex-row-reverse md:flex-row gap-2">
                                            <span style="margin-right: 3rem;" class="font-medium text-secondary text-sm">{{ item.category}}</span>
                                            <button pButton pRipple class="p-button p-mr-2" (click)="GoToType(item.name, item.objectTypeId)">Open</button> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Dashboards">
        <input #search (keyup.enter)="Search($event,search)" style="margin-right: 1rem;" type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />

        <p-dataView #dv [value]="dashboards">
            <ng-template pTemplate="list" let-products>
                <div class="grid grid-nogutter">
                    <div [ngClass]="item.promoted == true  ? 'promoted' :''" class="col-12" *ngFor="let item of products; let first = first" class="col-12">
                        <div (dblclick)="GoToType(item.name,item.id)" class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                            <div class="md:w-10rem relative">
                                <div class="text-lg font-medium text-900 mt-2">{{ item.name }}</div>
                                <!-- <img class="block xl:block mx-auto border-round w-full" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.image" [alt]="item.name" /> -->
                            </div>
                            <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                    <div>
                                        <!-- <span class="font-medium text-secondary text-sm">{{ item.id}}</span> -->
                                    </div>

                                </div>
                                <div class="flex flex-column md:align-items-end gap-5">
                                    <div class="flex flex-row-reverse md:flex-row gap-2">
                                        <button pButton pRipple class="p-button p-mr-2" (click)="GoToDashboard(item.id)">Open</button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </p-tabPanel>

</p-tabView>
