<p-tabView>
<p-tabPanel header="Store data online">
    <div class="grid">
<div class="col-4">

<p-card header="Free" subheader="0€">
<p>
     Free version of the program. You can use it for free.
    <br><br>
     Your space is limited to 50 data rows and 2 tables.
</p>
<br><br>
<ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1">
    </div>
</ng-template>
</p-card>
</div>
    
<div class="col-4">
<p-card header="Basic" subheader="0.96€/5000 data row/month">
<p>
     You can use all the features of the program.
</p>
<ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1">
        <p-button label="Select" class="w-full" styleClass="w-full" />
    </div>
</ng-template>
</p-card>
</div>
    
<div class="col-4">
<p-card header="Unique" subheader="unique">
<p>
     If you have a large number of data, or you have a special demand, you can contact us for a unique offer.
    <br><br><br>
</p>
<ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1">
        <p-button label="Select" class="w-full" styleClass="w-full" />
    </div>
</ng-template>
</p-card>
</div>
    </div>     
</p-tabPanel>
<p-tabPanel header="Store data on your server and use the program online">
    
    
<div class="grid">
<div class="col-4">
    <p-card header="Free" subheader="0€">
        <p>
     Free version of the program. You can use it for free.
            <br><br>
     You can add 1 databases and connect 2 table but if you have more than 2000 rows you, can not add more.
        </p>
        <br><br>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
            </div>
        </ng-template>
    </p-card>
</div>

<div class="col-4">
    <p-card header="Basic" subheader="0.96€/10000 data row/month">
        <p>
     You can use all the features of the program. Only the image upload is limited or has an additional cost.
            <br><br>
You can add as many databases as you want and connect as many tables as you need. You can even set up a virtual
     relation between tables with different database.           
            <br>
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Select" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>

<div class="col-4">
    <p-card header="Unique" subheader="unique">
        <p>
     If you have a large number of data, or you have a special demand, you can contact us for a unique offer.
            <br><br><br>
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Select" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>
</div>     

</p-tabPanel>
<p-tabPanel header="Store data and run the program on your server">
    
<div class="grid">
<div class="col-4">
    <p-card header="Free" subheader="0€">
        <p>
     Free for all public health care institutions, public schools, public universities, public libraries, public museums, public archives, public research institutions,
     or other public institution with a public service mission.
        </p>
        <br><br>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Select" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>

<div class="col-4">
    <p-card header="Basic" subheader="100€">
        <p>
     You can use all the features of the program for internal use.
            <br><br>
     You can use the program on your server forever and 
     you will get the latest version of the program for 1 year.
 
            <br>
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Select" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>

<div class="col-4">
    <p-card header="Unique" subheader="unique">
        <p>
     If you want to use it on a public site, or you have a special demand, you can contact us for a unique offer.
            <br><br><br>
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Select" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>
</div>     
</p-tabPanel>
    </p-tabView>
    
    