<p-tabView>
<p-tabPanel header="Store data online">
    <div class="grid">
<div class="col-4">

<p-card header="Free" subheader="0€">
<p>
     Free version of the program. You can use it for free.
    <br><br>
     Your space is limited to 50 data rows and 2 tables.
</p>

<ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1">
    </div>
</ng-template>
</p-card>
</div>

<div class="col-4">
     <p-card header="Basic Internal 1k" subheader="0.59€/1000 data row/month">
          <p>
               You can use all the features of the program.
               <br>
               You can create 3 list and you can have 1000 data row.
          </p>
     <ng-template pTemplate="footer">
         <div class="flex gap-3 mt-1">
             <p-button (onClick)="Select('https://buy.stripe.com/8wMg0h5fD7gx6cgfYY')" label="Select" class="w-full" styleClass="w-full" />
         </div>
     </ng-template>
     </p-card>
</div>
    
<div class="col-4">
<p-card header="Basic Internal 2k" subheader="0.96€/2000 data row/month">
<p>
     You can use all the features of the program.
     <br>
     You can create 4 list and you can have 2000 data row.
</p>
<ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1">
        <p-button (onClick)="Select('https://buy.stripe.com/7sIg0h7nL0S91W0289')"  label="Select" class="w-full" styleClass="w-full" />
    </div>
</ng-template>
</p-card>
</div>
    
<div class="col-4">
<p-card header="Basic Internal 10k" subheader="2.96€/10000 data row/month">
<p>
     You can use all the features of the program.
     <br>
     You can create 10 list and you can have 10000 data row.
</p>
<ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1">
        <p-button (onClick)="Select('https://buy.stripe.com/9AQaFX7nL44l7gk6oq')"  label="Select" class="w-full" styleClass="w-full" />
    </div>
</ng-template>
</p-card>
</div>

<div class="col-4">
     <p-card header="Premium Internal 50k" subheader="6.96€/50000 data row/month">
     <p>
          You can use all the features of the program.
          <br>
          You can create 20 list and you can have 50000 data row.
     </p>
     <ng-template pTemplate="footer">
         <div class="flex gap-3 mt-1">
             <p-button  (onClick)="Select('https://buy.stripe.com/dR66pHfUh0S9dEIaEH')" label="Select" class="w-full" styleClass="w-full" />
         </div>
     </ng-template>
     </p-card>
     </div>

<div class="col-4">
          <p-card header="Premium Internal 200k" subheader="14.96€/200000 data row/month">
               <p>
                    You can use all the features of the program.
                    <br>
                    You can create 50 list and you can have 200000 data row.
               </p>
          <ng-template pTemplate="footer">
              <div class="flex gap-3 mt-1">
                  <p-button (onClick)="Select('https://buy.stripe.com/eVadS96jH8kB304eUY')" label="Select" class="w-full" styleClass="w-full" />
              </div>
          </ng-template>
          </p-card>
</div>

<div class="col-4">
     <p-card header="Premium Internal 1M" subheader="39.96€/1000000 data row/month">
          <p>
               You can use all the features of the program.
               <br>
               You can create 100 list and you can have 1000000 data row.
          </p>
     <ng-template pTemplate="footer">
         <div class="flex gap-3 mt-1">
             <p-button (onClick)="Select('https://buy.stripe.com/9AQ6pHazX0S97gkdQV')" label="Select" class="w-full" styleClass="w-full" />
         </div>
     </ng-template>
     </p-card>
</div>

<div class="col-4">
     <p-card header="Enterprise Internal 10M" subheader="249.96€/10000000 data row/month">
          <p>
               You can use all the features of the program.
               <br>
               You can create 200 list and you can have 10000000 data row.
          </p>
     <ng-template pTemplate="footer">
         <div class="flex gap-3 mt-1">
             <p-button (onClick)="Select('https://buy.stripe.com/eVag0h5fDgR7fMQ3ci')" label="Select" class="w-full" styleClass="w-full" />
         </div>
     </ng-template>
     </p-card>
</div>

<div class="col-4">
               <p-card header="Unique" subheader="unique">
               <p>
                    If you have a large number of data, or you have a special demand, you can contact us for a unique offer.
                   <br>
               </p>
               <ng-template pTemplate="footer">
                   <div class="flex gap-3 mt-1">
                       <p-button (onClick)="Contact()" label="Select" class="w-full" styleClass="w-full" />
                   </div>
               </ng-template>
               </p-card>
</div>

    </div>     
</p-tabPanel>
<p-tabPanel header="Store data on your server and use the program online">
    
    
<div class="grid">
<div class="col-4">
    <p-card header="Free" subheader="0€">
        <p>
     Free version of the program. You can use it for free.
  <br><br>
     You can add 1 databases and connect 2 table but if you have more than 2000 rows you, can not add more.
        </p>
    </p-card>
</div>

<div class="col-4">
     <p-card header="Basic External 2k" subheader="0.96€/2000 data row/month">
     <p>
          You can use all the features of the program.
          <br>
          You can import 4 list and you can have 2000 data row in external databases.
     </p>
     <ng-template pTemplate="footer">
         <div class="flex gap-3 mt-1">
             <p-button (onClick)="Select('https://buy.stripe.com/eVa4hz0ZnfN3dEIeV2')"  label="Select" class="w-full" styleClass="w-full" />
         </div>
     </ng-template>
     </p-card>
     </div>

<div class="col-4">
     <p-card header="Basic External 10k" subheader="2.96€/10000 data row/month">
     <p>
          You can use all the features of the program.
          <br>
          You can import 10 list and you can have 10000 data row in external databases.
     </p>
     <ng-template pTemplate="footer">
         <div class="flex gap-3 mt-1">
             <p-button (onClick)="Select('https://buy.stripe.com/fZe29r23r44lasw3cl')"  label="Select" class="w-full" styleClass="w-full" />
         </div>
     </ng-template>
     </p-card>
     </div>

<div class="col-4">
          <p-card header="Basic External 50k" subheader="4.96€/50000 data row/month">
          <p>
               You can use all the features of the program.
               <br>
               You can import 20 list and you can have 50000 data row in external databases.
          </p>
          <ng-template pTemplate="footer">
              <div class="flex gap-3 mt-1">
                  <p-button (onClick)="Select('https://buy.stripe.com/3cs8xP7nLasJgQU14e')"  label="Select" class="w-full" styleClass="w-full" />
              </div>
          </ng-template>
          </p-card>
</div>

<div class="col-4">
               <p-card header="Premium External 200k" subheader="9.96€/200000 data row/month">
               <p>
                    You can use all the features of the program.
                    <br>
                    You can import 50 list and you can have 200000 data row in external databases.
               </p>
               <ng-template pTemplate="footer">
                   <div class="flex gap-3 mt-1">
                       <p-button (onClick)="Select('https://buy.stripe.com/6oEeWd8rPbwNbwA14f')"  label="Select" class="w-full" styleClass="w-full" />
                   </div>
               </ng-template>
               </p-card>
</div>


<div class="col-4">
                    <p-card header="Premium External 1M" subheader="15.96€/1000000 data row/month">
                    <p>
                         You can use all the features of the program.
                         <br>
                         You can import 100 list and you can have 1000000 data row in external databases.
                    </p>
                    <ng-template pTemplate="footer">
                        <div class="flex gap-3 mt-1">
                            <p-button (onClick)="Select('https://buy.stripe.com/28o3dvbE1fN31W05kw')"  label="Select" class="w-full" styleClass="w-full" />
                        </div>
                    </ng-template>
                    </p-card>
</div>

<div class="col-4">
                         <p-card header="Premium External 10M" subheader="69.96€/10000000 data row/month">
                         <p>
                              You can use all the features of the program.
                              <br>
                              You can import 200 list and you can have 10000000 data row in external databases.
                         </p>
                         <ng-template pTemplate="footer">
                             <div class="flex gap-3 mt-1">
                                 <p-button (onClick)="Select('https://buy.stripe.com/6oE9BT23r6ctbwAfZb')"  label="Select" class="w-full" styleClass="w-full" />
                             </div>
                         </ng-template>
                         </p-card>
</div>
     
<div class="col-4">
                              <p-card header="Enterprise External 50M" subheader="149.96€/50000000 data row/month">
                              <p>
                                   You can use all the features of the program.
                                   <br>
                                   You can import 400 list and you can have 50000000 data row in external databases.
                              </p>
                              <ng-template pTemplate="footer">
                                  <div class="flex gap-3 mt-1">
                                      <p-button (onClick)="Select('https://buy.stripe.com/5kA6pHazXasJeIM3cq')"  label="Select" class="w-full" styleClass="w-full" />
                                  </div>
                              </ng-template>
                              </p-card>
</div>

<div class="col-4">
    <p-card header="Unique" subheader="unique">
        <p>
     If you have a large number of data, or you have a special demand, you can contact us for a unique offer.
            <br>
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Select" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>
</div>     

</p-tabPanel>
<p-tabPanel header="Store data and run the program on your server">
    
<div class="grid">
<div class="col-4">
    <p-card header="Free" subheader="0€">
        <p>
     Free for all public health care institutions, public schools, public universities, public libraries, public museums, public archives, public research institutions,
     or other public institution with a public service mission.
        </p>
        <br><br>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Select" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>

<div class="col-4">
    <p-card header="Basic" subheader="100€">
        <p>
     You can use all the features of the program for internal use.
            <br><br>
     You can use the program on your server forever and 
     you will get the latest version of the program for 1 year.
 
            <br>
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
             <p-button (onClick)="Select('https://buy.stripe.com/fZecO5fUhgR76cgfZ5')"  label="Select" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>

<div class="col-4">
    <p-card header="Unique" subheader="unique">
        <p>
     If you want to use it on a public site, or you have a special demand, you can contact us for a unique offer.
            <br><br><br>
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Select" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>
</div>     
</p-tabPanel>
    </p-tabView>
    
    