
<p-progressSpinner [hidden]="!loading" ariaLabel="loading"></p-progressSpinner>

<p-tabView>
    <p-tabPanel header="Properties">
        <div>
            <div *ngFor="let prop of fields; index as i">

                    <div  style="display: grid; margin: 1rem; padding: 1rem;">

                        <p-tag severity="success" [style]="{ background: dataRec[i].color, color: dataRec[i].labelColor }" [value]="prop.field" />
                        <input [disabled]="!editable" *ngIf="prop.type == 'text' && dataRec[i]"   [(ngModel)]="dataRec[i].valueString" pInputText/>
                        <input [disabled]="true" *ngIf="prop.type == 'id'"   [(ngModel)]="dataRec[i].valueString" pInputText/>
                        <input [disabled]="!editable" *ngIf="prop.type == 'numeric' && dataRec[i]"  [(ngModel)]="dataRec[i].valueString"  [pKeyFilter]="'num'"  pInputText/>
                        
                        <input [disabled]="!editable" *ngIf="prop.type == 'foreignkey' && dataRec[i]" [(ngModel)]="dataRec[i].valueString" pInputText/>
                        <button *ngIf="prop.type == 'foreignkey' && dataRec[i]"  style="margin-right: 1rem;" pButton pRipple class="p-button p-mr-2" (click)="SelectParent(prop.header)">Select</button> 

                        <input [disabled]="true"  *ngIf="prop.type == 'calculatednumeric' && dataRec[i]"  [(ngModel)]="dataRec[i].valueString"  [pKeyFilter]="'num'"  pInputText/>
                        <input [disabled]="true" *ngIf="prop.type == 'calculatedtext' && dataRec[i]"  [(ngModel)]="dataRec[i].valueString"  pInputText/>
                        <p-triStateCheckbox [disabled]="true" [(ngModel)]="boolvalues[i]"  *ngIf="prop.type == 'calculatedboolean' && dataRec[i]" inputId="tricheckbox" />

                        <div  *ngIf="prop.type == 'boolean' && dataRec[i]">
                            <p-triStateCheckbox [(ngModel)]="boolvalues[i]"   [disabled]="!editable" (onChange)="boolChange($event,i)" inputId="tricheckbox" />
                            <br>
                        </div>
        
                        <p-calendar [(ngModel)]="datevalues[i] " [disabled]="!editable" #c dateFormat="dd.mm.yy"  [showTime]="false" *ngIf="prop.type == 'date' && dataRec[i]" (onClose)="setDate(c, i)"></p-calendar>

                        <p-dropdown [disabled]="!editable" *ngIf="prop.type == 'option' && dataRec[i]" [options]="prop.option" [dataKey]="'optionValue'" (onChange)="OptionSelect($event,i)"  optionLabel="optionName" [showClear]="true"
                         [placeholder]="dataRec[i].valueString != null && dataRec[i].valueString != undefined && dataRec[i].valueString != '' ? dataRec[i].valueString : 'Select'"></p-dropdown>
                        <div *ngIf="prop.type == 'image' && dataRec[i]">
                            <p-fileUpload #fileUploader [maxFileSize]="5485760"  mode="basic" accept="image/*" [disabled]="!editable"
                            (uploadHandler)="UploadFile($event,dataRec[i].name)" chooseLabel="Select file" [customUpload]="true"
                            invalidFileSizeMessageDetail="Allowed file size is 5MiB"></p-fileUpload> 
                            <p-image [width]="'500rem'" [height]="'500rem'" *ngIf="prop.type == 'image' && getImageObj(dataRec[i], prop.header)"  [src]="getImageObj(dataRec[i], prop.header)"  alt="not picture" [preview]="true"></p-image>              
                            <button *ngIf="HasAiModel(prop.header)"  style="margin-right: 1rem;" pButton pRipple class="p-button-success p-mr-2" (click)="ClassifyImage($event,prop.header)">ClassifyImage</button> 
                        </div>

                        <button *ngIf="prop.type == 'numeric' && dataRec[i] && HasAiModel(prop.header) && editable"  style="margin-right: 1rem;" pButton pRipple class="p-button-success p-mr-2" (click)="PredictValueNum($event,prop.header)">Predict value</button> 
                        <button *ngIf="(prop.type == 'option' || prop.type == 'text') && dataRec[i] && HasAiModel(prop.header) && editable"  style="margin-right: 1rem;" pButton pRipple class="p-button-success p-mr-2" (click)="PredictValueStr($event,prop.header)">Predict value</button> 

        
            
                    </div>
 
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel *ngFor="let child of childlist" [header]="child.name">
        
        <app-dataobject-list [id]="child.objectTypeId" [parentfilter]="parentfilter" [parentrow]="rowindex" [editable]="editable" [parenttypeid]="parentid" [parentdataid]="id" [child]="true" [name]="child.name" [private]="child.private"></app-dataobject-list>
    </p-tabPanel>

</p-tabView>


<button *ngIf="editable"  style="margin-right: 1rem;" pButton pRipple class="p-button-success p-mr-2" (click)="Save()">Save</button> 
<button *ngIf="editable"  style="margin-right: 1rem;" pButton pRipple class="p-button-success p-mr-2" (click)="SaveClose()">Save & Close</button> 
<button *ngIf="editable" style="float: right;" pButton pRipple class="p-button-danger p-mr-2" (click)="DeleteDialog($event)">Delete</button> 

    <p-confirmDialog></p-confirmDialog>

    <p-toast position="top-right"  (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="p-flex p-flex-column" style="flex: 1">
                <div class="p-text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4>{{message.summary}}</h4>
                    <p>{{message.detail}}</p>
                </div>
                <div class="p-grid p-fluid">
                </div>
            </div>
        </ng-template>
    </p-toast>