<div style="background-color: hsl(0, 0%, 18%);" class="block-content">
    <div class="ng-star-inserted">
        <div class="px-4 py-6 md:px-6 lg:px-8 text-center">
            <img src="assets/img/logo_transparent.png" alt="Image" height="300">
            <div style="color: #ff7029;" class="font-medium  mt-4 mb-3">
                GenericDataStore
            </div>
            <p style="max-width: 10000px;" class="text-600 line-height-3 mt-0 mb-4">
                <a style="color: #ff7029;" href="/contact" class="cursor-pointer  mr-5">Contact</a>
                <a style="color: #ff7029;" href="/price" class="cursor-pointer mr-5">Price</a>
                <a style="color: #ff7029;" href="/contact" class="cursor-pointer mr-5">Contact</a>
                <a style="color: #ff7029;" href="/dataprotection" class="cursor-pointer  mr-5">Privacy Policy</a>
                <a style="color: #ff7029;" href="/termsofuse" class="cursor-pointer mr-5">Terms of use</a>



                </p>
                <div class="flex align-items-center justify-content-center">
                    <a style="color: #ff7029;" class="cursor-pointer  mr-5"><i class="pi pi-twitter"></i></a>
                    <a style="color: #ff7029;" class="cursor-pointer  mr-5"><i class="pi pi-facebook"></i></a>
                    <a style="color: #ff7029;" class="cursor-pointer"><i class="pi pi-github"></i></a>
                </div>
            </div>
        </div>
    </div>