<div style="background-color: hsl(0, 0%, 18%);" class="block-content">
    <div class="ng-star-inserted">
        <div class="px-4 py-6 md:px-6 lg:px-8 text-center">
            <img src="assets/img/logo_transparent.png" alt="Image" height="300">
            <div style="color: #ff7029;" class="font-medium  mt-4 mb-3">
                GenericDataStore
            </div>
            <p style="max-width: 10000px;" class="text-600 line-height-3 mt-0 mb-4">
                <a style="color: #ff7029;" href="/contact" class="cursor-pointer  mr-5">Contact</a>
                <a style="color: #ff7029;" href="/price" class="cursor-pointer mr-5">Price</a>
                <a style="color: #ff7029;" href="/contact" class="cursor-pointer mr-5">Contact</a>
                <a style="color: #ff7029;" href="/dataprotection" class="cursor-pointer  mr-5">Privacy Policy</a>
                <a style="color: #ff7029;" href="/termsofuse" class="cursor-pointer mr-5">Terms of use</a>



                </p>
                <div >
                    <a href="https://www.producthunt.com/posts/genericdatastore-2?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-genericdatastore&#0045;2" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=631050&theme=dark" alt="GenericDataStore - Effortless&#0032;data&#0032;control&#0058;&#0032;Admin&#0032;tools&#0044;&#0032;charts&#0044;&#0032;and&#0032;AI&#0046; | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
                    <div class="flex align-items-center justify-content-center">
                        <a href="https://www.facebook.com/profile.php?id=61568726416557" style="color: #ff7029;" class="cursor-pointer  mr-5"><i class="pi pi-facebook"></i></a>
                        <a href="https://www.instagram.com/genericdatastore?igsh=ejlkdXlqYmxqcjlu" style="color: #ff7029;" class="cursor-pointer mr-5"><i class="pi pi-instagram"></i></a>
                        <a href="https://www.youtube.com/@GenericDataStore" style="color: #ff7029;" class="cursor-pointer mr-5"><i class="pi pi-youtube"></i></a>
                        <a href="https://www.linkedin.com/in/generic-data-store-b81182326/" style="color: #ff7029;" class="cursor-pointer"><i class="pi pi-linkedin"></i></a>

                    </div>

                </div>
            </div>
        </div>
    </div>