<div>
<div>
    <div style="padding: 2rem;" class="card flex justify-content-center">
        <p-card  [style]="{ width: '760px', padding: '2rem' }">
            <div style="display: grid; margin-left: 1rem;">
                <p>If you have a special request, you found a bug, or need some help, don't hesitate to get in touch.</p>
                <p>Send us a message with your needs, and we will get back to you as soon as possible.</p>
            </div>
    
        
            <ng-template pTemplate="footer">
            </ng-template>
        </p-card>
    </div>
    <p-messages></p-messages>
    <div class="grid justify-content-center">
        <div  style="display: grid; margin: 1rem; padding: 1rem;" class="col-5">
            <label style="color: white;">Name</label>
            <input    [(ngModel)]="name"  pInputText/>               
        </div>
        <div  style="display: grid; margin: 1rem; padding: 1rem;" class="col-5">
            <label style="color: white;">Email</label>
            <input    [(ngModel)]="email"  pInputText/>               
        </div>
        <div  style="display: grid; margin: 1rem; padding: 1rem;" class="col-11">
            <label style="color: white;"> Comment</label>
            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="comment"></textarea>
        </div>
    </div>
    <div  style="display: grid; margin: 1rem; padding: 1rem;">
        <button icon="pi pi-send mr-2" pButton style="margin-left: 3rem;margin-bottom: 2rem; width: 12rem;" pRipple class="p-button p-mr-2 p-button-icon-left" (click)="Send()">Send Message</button> 
    </div>
</div>
</div>

