<p-progressSpinner [hidden]="!loading" ariaLabel="loading"></p-progressSpinner>
<p-tabView>
    <p-tabPanel header="Properties">
        <div  class="grid">


                    <div class="col-4" style="margin: 1rem; padding: 1rem;">
                        <label>Name</label>
                        <input  style="width: 20rem;"  [(ngModel)]="database.databaseName" pInputText/>           
                    </div>
                    <br>
                    <br>
                    <div class="col-4" style="margin: 1rem; padding: 1rem;">
                        <label>Connection String</label>
                        <textarea  style="width: 20rem;"  [(ngModel)]="database.connectionString" pInputText></textarea>
                    </div>
                    <br>
                    <br>
                    <div class="col-4" style=" margin: 1rem; padding: 1rem;">
                        <label>Database Type</label>  
                        <p-dropdown optionLabel="label" [options]="options" [dataKey]="'value'" (onChange)="OptionSelect($event)"  [showClear]="true"
                         [placeholder]="database.databaseType ?? 'Select connection type'"></p-dropdown>       
                    </div>
                    <br>
                    <br>
                    <div class="col-4" style=" margin: 1rem; padding: 1rem;">
                        <label>Default ID type</label>  
                        <p-dropdown optionLabel="label" [options]="idoptions" [dataKey]="'value'" (onChange)="IdTypeSelect($event)"  [showClear]="true"
                         [placeholder]=" database.defaultIdType ?? 'Select default id type'"></p-dropdown>       
                    </div>
                    <br>
                    <br>
                    <div class="col-4" style="margin: 1rem; padding: 1rem;">
                        <label>Public</label>

                            <p-triStateCheckbox [(ngModel)]="database.public" />
                            <br>
                       
                    </div>

            
        </div>
    </p-tabPanel>

</p-tabView>


    <button   style="margin-right: 1rem;" pButton pRipple class="p-button-success p-mr-2" (click)="Save()">Save</button> 
    <button *ngIf="createmode != true"  style="margin-right: 1rem;" pButton pRipple class="p-button-success p-mr-2" (click)="ImportTables()">Connect tables</button> 
    <button *ngIf="createmode != true"  style="margin-right: 1rem;" pButton pRipple class="p-button-success p-mr-2" (click)="RefreshTables()">Refresh tables</button> 
    <button *ngIf="createmode != true"  style="margin-right: 1rem;" pButton pRipple class="p-button p-mr-2" (click)="Chart()">Diagram</button>
    <button *ngIf="createmode != true"  style="margin-right: 1rem;" pButton pRipple class="p-button-danger p-mr-2" (click)="DisconnectTables()">Disconnect tables</button> 
    <button *ngIf="createmode != true"  style="margin-right: 1rem;" pButton pRipple class="p-button-danger p-mr-2" (click)="DisconnectDatabase()">Disconnect database</button> 




    <!-- <button  style="float: right;" pButton pRipple class="p-button-danger p-mr-2" (click)="DeleteDialog($event)">Delete</button>  -->

    <p-confirmDialog></p-confirmDialog>

    <p-toast position="top-right"  (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="p-flex p-flex-column" style="flex: 1">
                <div class="p-text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4>{{message.summary}}</h4>
                    <p>{{message.detail}}</p>
                </div>
                <div class="p-grid p-fluid">
                </div>
            </div>
        </ng-template>
    </p-toast>
